<h1>Listing carteleras</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Raiting</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @carteleras.each do |cartelera| %>
      <tr>
        <td><%= cartelera.nombre %></td>
        <td><%= cartelera.raiting %></td>
        <td><%= link_to 'Show', cartelera %></td>
        <td><%= link_to 'Edit', edit_cartelera_path(cartelera) %></td>
        <td><%= link_to 'Destroy', cartelera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartelera', new_cartelera_path %>
